* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.container {
    background: rgb(247, 244, 244);
    width: 360px;
    border: 0.5px solid rgb(208, 202, 202);
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    
}



.buttonContainer {
    height: 400px;
    padding: 10px;
    display: flex;
    gap: 5px;


}
.one,
.two,
.three,
.four {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;

}


.btn,
button {
    background: rgb(233, 233, 202);
    border: 0.5px solid rgb(166, 166, 76);
    border-radius: 4px;;
    flex: 1;

    font-size:1.1em;

}


button:hover
{
    background: rgb(172, 198, 172);
}

.btn {
    display: flex;
    gap: 1px;
    background: none;
    border: none;
}

.dot,
.number {
    font-weight: 900;
}

.equa,
.operator {
    background: orange;
    font-weight: 900;
}

.footer {
    text-align: right;
}

.screen {
    display: flex;
    border: 0.5px solid black;
    width: 320px;
    height: 50px;
    margin: 10px auto;
    background: #FFF;
    border-radius: 3px;
    font-size: 2em;
    justify-content: right;
    padding-right: 5px;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
}

.header {
    font-weight: 900;
    font-size: large;
    width: fit-content;
    margin: 0 auto;

}